body {
  position: relative;
}

.invalid-feedback {
  display: block;
}

.player-mouse {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 3px;
  height: 3px;
  margin-left: -1px;
  margin-top: -1px;
  background-color: red;
}
