#mainGame{
  width: 100%;
  height: 140%;
  border: black solid 1pt;
}
.square{
  width: 4%;
  height: 4%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background: green;
}
.square:hover{
  background-color: red;
}
